spring:
  application:
    name: postulacion
  datasource:
    driver-class-name: org.h2.Driver
    username: sa
    password: admin
    url: "jdbc:h2:mem:postulacion;DB_CLOSE_ON_EXIT=FALSE"
  h2:
    console:
      enabled: true
      path: /h2
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
  mvc:
    path-match:
      matching-strategy: ant_path_matcher
